<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static',filename='my-favicon.ico') }}">

    <title>{% block title %}后台管理{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static',filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/blog.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static',filename='js/ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   <!-- layui 引入css -->
     <meta name="renderer" content="webkit">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}"  media="all">
   <!-- 注册登录css -->
     <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.css') }}">
     <link href="{{ url_for('static',filename='css/login_reg.css') }}" rel="stylesheet">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static',filename='js/vendor/jquery.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static',filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <!-- layui 引入js -->
    <script src="{{ url_for('static',filename='layui/layui.js') }}" charset="utf-8"></script>
    {% block head %}
    {% endblock %}
  </head>
    
  <body>
     {% block nav %}
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">首页</a>
          <a class="blog-nav-item" href="#">linux</a>
          <a class="blog-nav-item" href="#">python</a>
          <a class="blog-nav-item" href="#">其他</a>
          <a class="blog-nav-item" href="#">关于我</a>
	  <ul class="nav navbar-nav navbar-right temp-custom-list-items">
         	<li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#RegistrationModal" href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
         	<li class+"nav-item"><a class="nav-link" data-toggle="modal" data-target="#LogInModal" href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
         </ul>
        </nav>
      </div>
    </div>
    {% endblock %}
    
    {% block login_reg %}
    <!--======================================
 =            registration form modal            =
 =======================================-->
 <!-- Modal -->
 <div class="modal fade" id="RegistrationModal" role="dialog">
  <div class="temp-custom-modal-wrap">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content temp-custom-modal-content">
        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
        <div class="modal-body temp-custom-modal-body">
          <div class="temp-login-form-wrapper">
            <div class="row custom-row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                <div class="temp-reg-column-wrap-image">
                  <div class="temp-form-inner-wrapper">
                    <h2>注册</h2>
                    <p>如果用户没有帐户，则通过填写给定的表单创建帐户。</p>
                    <p class="temp-heading-for-icon temp-reg-para">第三方登录</p>
                    <div class="temp-anchor-wrap temp-reg-anchor-wrap">
                      <a href="#" class=" temp-anchor text-left">
                        <span class="temp-social-icon-wrap">
                          <i class="fa fa-weixin" aria-hidden="true"></i>
                        </span>
                        <span>微信登录</span>
                      </a>
                      <a href="#" class="temp-anchor temp-icon-color text-left">
                        <span class="temp-social-icon-wrap">
                          <i class="fa fa-weibo" aria-hidden="true"></i>
                        </span>
                        <span>微博登录</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="temp-form-column-wrap">
                  <h2>注册</h2>
                  <form>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <span class="temp-span-wrap temp-span-input-label-wrap">
                            <input  class="temp_input_field" type="text" >
                            <label class="temp_input_label">
                              <span class="temp_input_label-content">名称</span>
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <span class="temp-span-wrap temp-span-input-label-wrap">
                            <input class="temp_input_field" type="text" >
                            <label class="temp_input_label">
                              <span class="temp_input_label-content">邮箱</span>
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="form-group">
                          <span class="temp-span-wrap temp-span-input-label-wrap">
                            <input class="temp_input_field" type="password"  >
                            <label class="temp_input_label">
                              <span class="temp_input_label-content">密码</span>
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="form-group">
                          <span class="temp-span-wrap temp-span-input-label-wrap">
                            <input class="temp_input_field" type="password" >
                            <label class="temp_input_label">
                              <span class="temp_input_label-content">确认密码</span>
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <span class="temp-span-wrap temp-span-input-label-wrap">
                            <input  class="temp_input_field" type="text" >
                            <label class="temp_input_label">
                              <span class="temp_input_label-content">手机号码</span>
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-4">
                              <label class="radio-inline temp-custom-radio-button">
                                <input type="radio" name="gender" id="femaleRadio" value="Female">女性
                                <span class="temp-radio-checkmark"></span>
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <label class="radio-inline temp-custom-radio-button">
                                <input type="radio" name="gender" id="maleRadio" value="Male">男性
                                <span class="temp-radio-checkmark"></span>
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <label class="radio-inline temp-custom-radio-button">
                                <input type="radio" name="gender" id="uncknownRadio" value="Unknown">未知
                                <span class="temp-radio-checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="temp-login-button-wrap">
                          <button class="btn btn-info temp-form-button" type="button">提交注册</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
<!--====  End of registration form modal  ====-->


<!--======================================
=            login form modal            =
=======================================-->
<!-- Modal -->
<div class="modal fade" id="LogInModal" role="dialog">
  <div class="temp-custom-modal-wrap">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content temp-custom-modal-content">
        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
        <div class="modal-body temp-custom-modal-body">
          <div class="temp-login-form-wrapper">
            <div class="row custom-row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image">
                <div class="temp-login-column-wrap-image">
                  <div class="temp-form-inner-wrapper">
                    <h2>登录</h2>
                    <p>如果你有帐户，然后登录。否则，首先创建您的帐户。</p>
                    <p class="temp-heading-for-icon">第三方登录</p>
                    <div class="temp-anchor-wrap temp-reg-anchor-wrap">
                      <a href="#" class=" temp-anchor text-left">
                        <span class="temp-social-icon-wrap">
                          <i class="fa fa-weixin" aria-hidden="true"></i>
                        </span>
                        <span>微信登录</span>
                      </a>
                      <a href="#" class="temp-anchor temp-icon-color text-left">
                        <span class="temp-social-icon-wrap">
                          <i class="fa fa-weibo" aria-hidden="true"></i>
                        </span>
                        <span>微博登录</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="temp-form-column-wrap">
                  <h2>登录</h2>
                  <form>
                    <div class="form-group">
                      <span class="temp-span-wrap temp-span-input-label-wrap">
                        <input class="temp_input_field" type="text"  >
                        <label class="temp_input_label">
                          <span class="temp_input_label-content">邮箱</span>
                        </label>
                      </span>
                    </div>
                    <div class="form-group">
                      <span class="temp-span-wrap temp-span-input-label-wrap">
                        <input class="temp_input_field" type="password"  >
                        <label class="temp_input_label">
                          <span class="temp_input_label-content">密码</span>
                        </label>
                      </span>
                    </div>
                    <div class="form-group">
                      <label class="temp-checkbox-wrap">
                        <input name="signup_agree_checkbox" value="1" type="checkbox">
                        记住密码
                        <span class="checkmark"></span> 
                      </label>
                      <label class="pull-right label-content-color custom-form-label2"> 
                        <a href="#">忘记密码?</a>
                      </label>
                    </div>
                    <div class="temp-login-button-wrap">
                      <button class="btn btn-info temp-form-button" type="button">提交登录</button>
                    </div>
                  </form>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--====  End of login form modal  ====-->
{% endblock %}



    <div class="container">
      {% block article_title %}
    <!-- blog 文章标题 -->
      <div class="blog-header">
        <h1 class="blog-title">bobo的 Blog</h1>
        <p class="lead blog-description">记录bobo的运维生活</p>
      </div>
    {% endblock %}
   
      <div class="row">
	
        <div class="col-sm-8 blog-main">
    {% block special_index %}
    {% endblock %}
    {% block article %}
          <div class="blog-post">
            <h2 class="blog-post-title">第一篇博文</h2>
            <p class="blog-post-meta">2018.11.11 by <a href="#">bobo</a></p>

            <p>这是我的第一篇博客,记录的是flask开发的过程</p>
            <hr>
            <p>flask的开发的官方文档 &nbsp;&nbsp;<a href="https://dormousehole.readthedocs.io/en/latest/">请参考这里</a>, 目前学了几个内容:1.创建应用,配置设置,蓝图,以及简单的jinja2模板知识</p>
            <blockquote>
              <p>好好学习,天天向上 <strong>每天进步一点点</strong> 做一个对社会有用的人</p>
            </blockquote>
            <p>开发步骤一: <em>创建python virtualenv </em> 这里不再赘述</p>
            <h2>环境</h2>
            <p>操作系统:linux</p>
            <h3>Python版本:python3.7</h3>
            <p>flask版本:1.0.2 --- 快速上手中的例子如下:</p>
            <pre><code>	from flask import Flask
	app = Flask(__name__)
	
	@app.route('/')
	def hello_world():
		return 'Hello, World!</code></pre>
            <p>项目创建好了</p>
            <h3>下面运行flask的代码了</h3>
            <pre><code>
		$ export FLASK_APP=hello.py
		$ flask run
	 	* Running on http://127.0.0.1:5000/</code></pre>
            <p>下面讲解一下一些flask的知识</p>
            <ul>
              <li>application: 应用</li>
              <li>config:应用配置.</li>
              <li>blueprint:蓝图.</li>
            </ul>
            <p>flask的路由管理.</p>
            <ol>
              <li>endpoint</li>
              <li>url_maps</li>
              <li>blueprint url_prefix 和 add_url_rules() 以及url_for</li>
            </ol>
            <p>以上就是flask的全部内容了</p>
          </div><!-- /.blog-post -->
	  <hr/>
          <div class="blog-post">
            <h2 class="blog-post-title">dango2.0 学习</h2>
            <p class="blog-post-meta">11 23, 2018 by <a href="#">Jacob</a></p>
	    <p>博主太懒了,目前什么也没留下!!</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">上一页</a></li>
              <li><a href="#">下一页</a></li>
            </ul>
          </nav>

	{% endblock %}
        </div><!-- /.blog-main -->
	
	{% block right%}
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>人生格言</h4>
            <p>努力拼搏<em>不下来青春的遗憾</em> 勤奋一点点,仔细一点点,沉静下心来!走向积极乐观的生活,做一个对社会有用的人</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2018</a></li>
              <li><a href="#">February 2018</a></li>
              <li><a href="#">January 2018</a></li>
              <li><a href="#">December 2017</a></li>
              <li><a href="#">November 2017</a></li>
              <li><a href="#">October 2017</a></li>
              <li><a href="#">September 2017</a></li>
              <li><a href="#">August 2017</a></li>
              <li><a href="#">July 2017</a></li>
              <li><a href="#">June 2017</a></li>
              <li><a href="#">May 2017</a></li>
              <li><a href="#">April 2017</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>联系我</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/shixiaobo8">GitHub</a></li>
              <li><a href="#">微博</a></li>
              <li><a href="#">51cto</a></li>
              <li><a href="#">微信</a></li>
              <li><a href="#">邮箱</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
	{% endblock %}
	
      </div><!-- /.row -->
    </div><!-- /.container -->

   {%block footer %}
    <footer class="blog-footer">
      <p>(bobo的博客)  <a href="#">bobo's blog</a> by <a href="#">@yiguoshi</a>.</p>
      <p>
        <a href="#">回到顶部</a>
      </p>
    </footer>
    {% endblock %}
</body>
</html>


