{% extends "houtai/index.html" %}
{% block title %} 系统管理 {% endblock  %}
{% block head %}
<style>
.blog-main{
    margin-left:-60px;
}   
#addmain {
    display: none;
}   
</style>
<script src="{{ url_for('static',filename='js/houtai/addNavModal.js') }}"> </script>
{% endblock %}
{% block nav %}
{% endblock %}

{% block article_title %}
        <center><h3>前后台导航栏设置</h3></center>
{% endblock %}

{% block article %}
        <!-- 新增模态框start -->
        <div id="addmain">
            <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">  
                Launch demo modal  
            </button>   -->

        </div>
        <!-- 新增模态框end -->
        <table class="layui-hide" id="demo" lay-filter="test"></table>

        <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
          <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

        <script>
        layui.config({
        version: '1542630986934' //为了更新 js 缓存，可忽略
        });

        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
                var laydate = layui.laydate //日期
                ,laypage = layui.laypage //分页
                ,layer = layui.layer //弹层
                ,table = layui.table //表格
                ,carousel = layui.carousel //轮播
                ,upload = layui.upload //上传
                ,element = layui.element //元素操作


        //执行一个 table 实例
        table.render({
        elem: '#demo'
        ,height: 520
        ,width: 1000
        ,url: 'list_navs' //数据接口
        ,title: '导航栏信息表'
        ,page: true //开启分页
        ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
        ,cols: [[ //表头
        {type: 'checkbox', fixed: 'left'}
    ,{field: 'id', title: 'ID', width:50, sort: true, fixed: 'left', totalRowText: '合计：'}
    ,{field: 'title', title: '导航栏名称', width:120}
    ,{field: 'url', title: '地址(url)', width: 220, sort: true, totalRow: true}
    ,{field: 'role_id', title: '权限级别', width:100, sort: true}
    ,{field: 'type', title: '类别', width: 80, sort: true, totalRow: true}
    ,{field: 'nnav', title: '二级导航', width:300, sort: true}
    ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
    ]]
    });

    //监听头工具栏事件
    table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
            ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
            case 'add': 
                openModal()
            break;
            case 'update':
            if(data.length === 0){
            layer.msg('请选择一行');
            } else if(data.length > 1){
            layer.msg('只能同时编辑一个');
            } else {
            layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
            }
            break;
            case 'delete':
            if(data.length === 0){
            layer.msg('请选择一行');
            } else {
            layer.msg('删除');
            }
            break;
            };
    });

    //监听行工具事件
    table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
            ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'detail'){
            layer.msg('查看操作');
            } else if(layEvent === 'del'){
            layer.confirm('真的删除行么', function(index){
                obj.del(); //删除对应行（tr）的DOM结构
                layer.close(index);
                //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){
            layer.msg('编辑操作');
            }
            });

    //执行一个轮播实例
    carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
    ,height: 200
    ,arrow: 'none' //不显示箭头
    ,anim: 'fade' //切换动画方式
    });

    //分页
    laypage.render({
    elem: 'pageDemo' //分页容器的id
    ,count: 100 //总页数
    ,skin: '#1E9FFF' //自定义选中色值
    //,skip: true //开启跳页
    ,jump: function(obj, first){
    if(!first){
        layer.msg('第'+ obj.curr +'页', {offset: 'b'});}
     }
    });
});
    </script>
<script>
    //打开模态框
    function openModal(){
        var fatherBody = $(window.top.document.body);
        var id = 'myModal';
        var dialog = $('#' + id);
        if (dialog.length == 0) {
            dialog = $('<div class="modal fade" role="dialog" id="' + id + '" aria-labelledby="myModalLabel" aria-hidden="false"/>');
            dialog.appendTo(fatherBody);
        }
        dialog.load("addNavModal.html", function() {
                    dialog.modal({
                        backdrop: false,
                        keyboard: false,
                        show: true
                    });
        });
        // 在父窗口添加遮罩层 该问题未解决,启用后点击关闭遮罩未关闭
        // fatherBody.append("<div id='backdropId' class='modal-backdrop fade in'></div>");
    }

    //关闭模态框
    $(function(){
        var fatherBody = $(window.top.document.body);
        fatherBody.find($('.modal-backdrop')).remove();//去掉遮罩层
        fatherBody.find("#myModal").modal('hide');
        
    /*    closeModal();        
    //});
    //function closeModal(){
        var fatherBody = $(window.top.document.body);
        fatherBody.find("#backdropId").remove();
        fatherBody.find("#myModal").modal('hide');
        console.log(444);
        fatherBody.find("#myModal").on('hidden.bs.modal', function (e) {
                fatherBody.find("#backdropId").remove();
        });
    */
   });
</script>
{% endblock %}

{% block right %} 

{% endblock %}

{% block footer %} 

{% endblock %}
