{% extends "base/base.html" %}
{% block title %} 系统管理 {% endblock  %}
{% block head %}
<style>
	form .row {
		padding-top:12px;
		text-align: center;
		display: inline;
	}
	.blog-main{
	    margin-left:-60px;
	}   
	#addmain {
	    display: none;
	}   
</style>
{% endblock %}
{% block nav %}
{% endblock %}
{% block login_reg %}
{% endblock %}
{% block article_title %}
        <center><h3>前后台导航栏设置</h3></center>
{% endblock %}

{% block article %}
        <!-- 新增模态框start -->
     <div id="addmain">
     </div>
        <!-- 新增模态框end -->
        <table class="layui-hide" id="demo" lay-filter="test"></table>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">  
		<div class="modal-content">  
		    <div class="modal-header">  
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">添加一级导航栏</h4>  
		    </div>  
		    <div class="modal-body"> 
		    <form class="form-horizontal" id="addFirstNavForm" > 
			<div class="form-group">
			  <div class="container-fluid">
			    <div class="row">
				<div class="col-sm-2 col-sm-offset-1">
				    <label ="col-sm-2 control-label" for="qian_hou">前/后台</label>
				</div>
				<div class="col-sm-6">
				    <select class="form-control" id="qian_hou" name="type" required="required">
					<option value="1">前台</option>
					<option value="0">后台</option>
				    </select>
				</div>
			    </div>
			
			    <div class="row">
				<div class="col-sm-3">
				    <label class="control-label" for="fNavName">一级导航名称</label>
				</div>
				<div class="col-sm-7">
				    <input type="text" name="fNavName" id="fNavName" placeholder="请输入一级导航名称" class="form-control" required="required">
				</div>
			    </div>

			    <div class="row">
				<div class="col-sm-4">
				    <label class="control-label" for="fNavUrl">一级导航url(选填)</label>
				</div>
				<div class="col-sm-7">
				    <input type="url" class="form-control" placeholder="请输入相对路径,不填可添加二级导航" id="fNavUrl" name="fNavUrl">
				</div>
			    </div>

			    <div class="row">
				<div class="col-sm-3">
				    <label class="control-label" for="fNavPris">权限</label>
				</div>
				<div class="row">
				    <label class="radio-inline">
					<input type="checkbox" id="inlineCheckbox1" name="navPri" value="1" checked="checked"> 普通用户
				    </label>
				    <label class="radio-inline">
					<input type="checkbox" id="inlineCheckbox2" name="navPri" value="2"> 管理员
				    </label>
				    <label class="radio-inline">
					<input type="checkbox" id="inlineCheckbox3" name="navPri" value="3"> 其他用户
				    </label>
				    <label class="radio-inline">
					<input type="checkbox" id="inlineCheckbox3" name="navPri" value="4"> 特殊用户
				    </label>
				</div>
			    </div>

			<div class="row" id="secondNavLables">
			    <label class="col-sm-3">二级导航</label>
			    <span class="glyphicon glyphicon-plus" id="addSecondNav" aria-hidden="true" style="color:green;"></span>
			</div>

			<div class="row" id="secondNavs">
			</div>
		    </div>
		</form>

		    <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>  
			<button type="button" class="btn btn-primary" id="addFirstNav">保存</button>  
		    </div>
		</div> 
		
		<!--预备二级菜单 form start-->
		<div id="preAddSecondNavIndex" style="display:none">
		    <div id="preAddSecondNav">
			<div class="col-sm-2">
			     <label class="control-label" for="secondName">名称</label>
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" placeholder="名称" id="secondName" name="sNavName" required="required">
			</div>
			<div class="col-sm-2">
			    <label class="control-label" for="secondUrl" >url</label>
			</div>
			<div class="col-sm-4">
				<input type="url" class="form-control" placeholder="不带域名的绝对路径" id="secondUrl" name="sNavUrl" required="required">
			</div>
			<div class="col-sm-1" id="minusSecondNavDiv">
				<span class="glyphicon glyphicon-minus" id="minusSecondNav" aria-hidden="true" style="padding-top:10px;;color:red;"></span>
			</div>
		    </div>
		</div>  
		<!--预备二级菜单 form end-->
	</div>
        <!-- 新增模态框end -->
        <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
          <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

        <script>
        layui.config({
        version: '1542630986934' //为了更新 js 缓存，可忽略
        });

        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
                var laydate = layui.laydate //日期
                ,laypage = layui.laypage //分页
                ,layer = layui.layer //弹层
                ,table = layui.table //表格
                ,carousel = layui.carousel //轮播
                ,upload = layui.upload //上传
                ,element = layui.element //元素操作

        //执行一个 table 实例
        table.render({
        elem: '#demo'
        ,height: 520
        ,width: 1020
        ,url: 'NavList' //数据接口
        ,title: '导航栏信息表'
        ,page: true //开启分页
        ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
        ,cols: [[ //表头
     {type: 'checkbox', fixed: 'left'}
    ,{field: 'id', title: 'ID', width:50, sort: true, fixed: 'left', align:'center'}
    ,{field: 'title', title: '导航栏名称', width:120}
    ,{field: 'url', title: '地址(url)', width: 220, sort: true,align:'center' }
    //,{field: 'role_id', title: '权限级别', width:100, sort: true}
    ,{field: 'type', title: '类别', width: 80, sort: true, align:'center'}
    ,{field: 'subnavs', title: '二级导航', width:300,align:'center',sort: true}
    ,{fixed: 'right', width: 165, title:'操作',align:'center', toolbar: '#barDemo'}
    ]]
    });

    // 表格刷新方法
    var reloadTable = { reloadTableData: function () {
        table.reload('demo') }};
    layui.data.reloadTable = reloadTable;
    //监听头工具栏事件
    table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
            ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
            case 'add': 
                openModal()
            break;
            case 'update':
            if(data.length === 0){
            layer.msg('请选择一行');
            } else if(data.length > 1){
            layer.msg('只能同时编辑一个');
            } else {
            layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
            }
            break;
            case 'delete':
            if(data.length === 0){
            layer.msg('请选择一行');
            } else {
            layer.msg('删除');
            }
            break;
            };
    });

    //监听行工具事件
    table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
            ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'detail'){
            layer.msg('查看操作');
            } else if(layEvent === 'del'){
            layer.confirm('真的删除行么', function(index){
                obj.del(); //删除对应行（tr）的DOM结构
                layer.close(index);
                //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){
            layer.msg('编辑操作');
            }
            });

    //执行一个轮播实例
    carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
    ,height: 200
    ,arrow: 'none' //不显示箭头
    ,anim: 'fade' //切换动画方式
    });

    //分页
    laypage.render({
    elem: 'pageDemo' //分页容器的id
    ,count: 100 //总页数
    ,skin: '#1E9FFF' //自定义选中色值
    //,skip: true //开启跳页
    ,jump: function(obj, first){
    if(!first){
        layer.msg('第'+ obj.curr +'页', {offset: 'b'});}
     }
    });
});
    </script>
<script>
    //在父窗口中打开模态框
    function openModal(){
        var fatherBody = $(window.top.document.body);
        var id = 'myModal';
        var dialog = $('#' + id);
	if(fatherBody.find("#myModal").length == 0){
		    dialog.appendTo(fatherBody);
	}
	fatherBody.find('#myModal').modal({
		backdrop: false,
		keyboard: false,
		show: true
	});
    }

</script> 
<script>
	
                // 动态减少二级导航栏 动态添加触发的不能直接用click
                parent.$(function(){
                    $("#secondNavs").delegate('#minusSecondNav','click',function(){
                        //console.log(parent.$(this).index());
                        $(this).parent().parent().remove();
                    });
                });

                // 动态添加和减少二级菜单
                parent.$(function(){
                        // 如果有一级url那就让添加二级菜单
                        $("#fNavUrl").blur(function(){
                            if((parent.$("#fNavUrl").val()) == ''){
                                parent.$("#addSecondNav").show();
                                parent.$("#secondNavs").show();
                            }else if((parent.$("#fNavUrl").val()) != ''){
                                parent.$("#addSecondNav").hide();
                                parent.$("#secondNavs").hide();
                            }
                        });
                        // 动态添加二级导航栏
                        $("#addSecondNav").click(function(){
                            var subNavForm = parent.$("#preAddSecondNavIndex").html();
                            // 动态添加二级导航栏dom 到 #secondNavs 下
                            parent.$("#secondNavs").append(subNavForm);
                        });
                });

		// ajax 提交addmodal 的 form 表单
		parent.$(function(){
			$("#addFirstNav").click(function(){
				var form_data = {};
				var t = parent.$("form[id='addFirstNavForm']").serializeArray();
				var navPris = new Array();
				var sNavs = new Array();
				var sNav = {}; 
				parent.$.each(t,function(){
					if(this.name == 'navPri'){
						navPris.push(this.value);
					}else if(this.name == 'sNavName' && Object.keys(sNav).length == 0){
						sNav['sNavName'] = this.value;
					}else if(this.name == 'sNavUrl' && sNav['sNavName'] != ''){
						sNav['sNavUrl'] = this.value;
						sNavs.push(sNav);
						sNav = {};
					}else{
						form_data[this.name] = this.value;
					}
				});
				form_data['navPris'] = navPris;
				form_data['sNavs'] = sNavs;
				// 验证必填项
				// 验证一级导航栏名称
				if(parent.$("#fNavName").val() == ''){
					parent.layer.msg("请填写一级导航栏名称");
					return;
				}
				// 验证一级导航栏权限
				if(navPris.length == 0){
					parent.layer.msg("请填写一级导航栏权限");
					return;
				}
				// 验证二级导航栏name和url
				if(parent.$("#fNavUrl").val() == '' && parent.$("input[name='sNavName']").length == 1){
					parent.layer.msg("一级导航栏url不能为空!");
					return;
				}else if(parent.$("#fNavUrl").val() == '' && parent.$("input[name='sNavName']").length > 1){
					var sNavNums = parent.$("input[name='sNavName']").length;
					// 遍历数组sNavs
					for(var i=0;i<sNavNums-1;i++)	{
						if(parent.$(parent.$("input[name='sNavName']")[i]).val() ==''){
							parent.layer.msg("请填写二级导航栏名称");
							return;
						}
						if(parent.$(parent.$("input[name='sNavUrl']")[i]).val() ==''){
							parent.layer.msg("请填写二级导航栏url");
							return;
						}
						if(!parent.$(parent.$("input[name='sNavUrl']")[i]).val().startsWith('/')){
							parent.layer.msg("二级导航栏url是个相对路径,以/开头");
							return;
						}
					}
				}else{
					if(!parent.$("#fNavUrl").val().startsWith('/')){
						parent.layer.msg("一级导航栏url是个相对路径,以/开头");
						return;
					}

				}
				// 隐藏掉就不添加二级导航栏
				if(parent.$("#addSecondNav").css('display')=='none'){
					form_data['sNavs']=[];
				}
				var data = JSON.stringify(form_data);
				console.log(data);
				// 提交到服务器
				parent.$.ajax({
					url: "/houtai/Nav",
					type: "PUT",
					contentType: "application/json",
					data: data,
					dataType: "json",
					success: function(result){
						// 提交结果
						if(result['code'] == 200){
							parent.layer.msg('<span>添加成功!</span>');
							// 关闭模态框
							$(window.top.document.body).find("#myModal").modal('hide');
							//  这里不能用reload 因为父页面有动态添加的modal window.location.reload();
							//  但是可以reload 刷新 layui table 数据 
							var reloadTable = layui.data.reloadTable;
							reloadTable.reloadTableData();
						}else{
							parent.layer.msg('<span style="color:red;">'+JSON.stringify(result)+'</span>');
						}
					},
					error: function(result){
							parent.layer.msg('<span style="color:red;">该功能存在bug,请联管理员</span>');
						
					}
				});
			});
		});
 </script>
{% endblock %}

{% block right %} 

{% endblock %}

{% block footer %} 

{% endblock %}
